<% bets.forEach( function(s) { %>
<tr>
  <td>
    <%= matches.filter(match => match.id == s.idPartida)[0].equipoA %> - <%=
    matches.filter(match => match.id == s.idPartida)[0].equipoB %>
  </td>
  <td><%= s.resultado == "equipoA" ? matches.filter(match => match.id ==
    s.idPartida)[0].equipoA : matches.filter(match => match.id ==
    s.idPartida)[0].equipoB%> %></td>
  <td>
    <%= s.equipo == "equipoA" ? matches.filter(match => match.id ==
    s.idPartida)[0].equipoA : matches.filter(match => match.id ==
    s.idPartida)[0].equipoB%>
  </td>
  <td><%= s.factor %></td>
  <td>
    <form action="cambiarMonto" method="post">
      <input type="hidden" name="id" value=<%= s.id %> >
      <input name="amount" value=<%= s.monto %> >
      <button type="submit">Editar</button>
    </form>
  </td>
  <td><%= s.factor * s.monto %></td>
</tr>
<% }) %>
